{% extends 'layouts/base.html' %} {% block title %} Tuition Listing Details {% endblock title %} {% block content %}
<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px;background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
</div>
<div class="container-fluid mt--9">
    <div class="row">

        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <img src="{{ studentProfile.image.url }}" class="rounded-circle">
                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                <div>
                                    {% if studentProfile.avgRating != 'N/A' %}
                                    <span class="heading">{{ studentProfile.avgRating }} / 5</span> {% else %}
                                    <span class="heading">{{ studentProfile.avgRating }} </span> {% endif %}
                                    <span class="description">Ratings</span>
                                </div>
                                <div>
                                    <span class="heading">{{ studentProfile.totalListings }}</span>
                                    <span class="description">Tuition Listings</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3>
                            {{ studentProfile.name }} {% if studentProfile.verified %}
                            <i class="fa fa-check-circle text-info" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Verified Tutor"></i> {% endif %}
                        </h3>
                        <div class="h4 font-weight-300">@{{ studentProfile.username }}</div>
                        <div class="h4 font-weight-300">{{ studentProfile.email }}</div>
                        <div class="h5 mt-4">
                            <i class="ni business_briefcase-24 mr-2"></i>Description
                        </div>
                        {% if not studentProfile.description == None %}
                        <p>{{ studentProfile.description }}</p>
                        {% else %}
                        <p>Nothing here...</p>
                        {% endif %}

                        <!-- Link to profile -->
                        <a class="h4 font-weight-300 btn btn-info" href="{% url 'profile' studentProfile.username %}">View Profile</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-body">
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <h2>{{object.title}}</h3>
                                </div>
                            </div>
                            {% if user.username == studentProfile.username %}
                            <div class="col-lg-2">
                                <a class="btn btn-primary" href="{% url 'listing-update' object.pk %}">Edit</a>
                            </div>
                            <div class="col-lg-2">
                                <a class="btn btn-danger" href="{% url 'listing-delete' object.pk %}">Delete</a>
                            </div>
                            {% else %}
                            <div class="col-lg-4">
                                <a class="btn btn-primary" href="{% url 'chat' user.id studentProfile.id object.pk %}">Chat</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <span class="heading">{{object.module}}</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <span class="heading">Tutor/Tutee: {{object.typeOfListing}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <span class="heading">{{object.datePosted}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-3" />
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="heading" for="input-address">Description</span>
                                    <p>{{object.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}