{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Update Tuition Listing {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
         style="min-height: 400px; background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">

          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--9">
        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-12">
                  <h3 class="mb-0">Edit Listing</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form method = "POST">
                {% csrf_token %}
                <fieldset class="form-group">
                  {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                  <button class="btn btn-dark" type="submit">Save</button>
                  <a class="btn btn-warning" href="{% url 'listing-detail' object.pk %}">Back</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% include "includes/footer.html" %}
      </div>

      

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
