
{% block hide %}{% endblock %}
{% block popup %}
<!-- Button trigger modal -->
<!-- add if statement to show which text Make Offer, Accept Offer-->


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!--<h2 class="modal-title" id="exampleModalLabel">Confirm?</h2>-->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        
        </div>
        <!-- add if statement to show which button, send Offer, Accept Offer-->
        <div class="modal-body">
            <div class="py-3 text-center">
                <i class="ni ni-bell-55 ni-3x"></i>
                <h4 class="heading mt-4">
                {% if tuitionSession.offer == 0 and listing.user != user %}
                Request Session? 
                {% elif tuitionSession.offer == 1 and listing.user == user %}    
                Confirm Session?
                {% elif tuitionSession.offer == 2 and listing.user == user %}    
                Complete Your Session?
                {% endif %}
                </h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            
            <form action="{% url 'chat' request.user.id receiver.id listing.listingID %}" method="post">
              {% csrf_token %}
              {% if tuitionSession.offer == 0 and listing.user != user %}
              <button class="btn btn-primary" type="submit" onclick="tuitionMsg('Request Sent')" name="startSession" id="startSession" value="startSession">Confirm</button>
              {% elif tuitionSession.offer == 1 and listing.user == user %}
              <button class="btn btn-primary"type="submit" onclick="tuitionMsg('Accept Sent')" name="acceptSession" id="acceptSession" value="acceptSession">Confirm</button>	
              {% elif tuitionSession.offer == 2 and listing.user == user %}
              <button class="btn btn-primary"type="submit" onclick="tuitionMsg('Session Completed')" name="completeSession" id="completeSession" value="completeSession">Confirm</button>
              {% endif %}
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}