{% extends 'layouts/base.html' %}
{% load static %} 
{% load tz %}

{% block title %}Chat{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--<link type="text/css" rel="stylesheet" href="{% static 'assets/css/materialize.css' %}"  media="screen,projection"/>-->
{% endblock stylesheets %}

<!-- Content block -->
{% block content %} 

<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
		style="min-height: 200px; background-size: cover; background-position: center top;">
	<!-- Mask -->
	<span class="mask bg-gradient-default opacity-8"></span>
	<!-- Header container -->
	<div class="container-fluid d-flex align-items-center">
	<div class="row">
		<div class="col-lg-7 col-md-10">
		<h1 class="display-2 text-white">Chat</h1>
		</div>
	</div>
	</div>
</div>

<div class="container-fluid mt--7">  
		<div class="row">			
		<div class="col">
			<!-- Card -->
			<div class="card shadow">
				<!-- Card header (Listing details) -->
				<div class="card-header border-0">
					<a href="{% url 'profile' receiver.username %}">
					<img src="{{ user.profile.image.url }}" class="rounded-circle" style="height: 5vh"></a>
					<a href="{% url 'listing-detail' listing.listingID %}">
					<h3> {{listing.title}}</h3>
						{{ listing.module }} </br>
						{{listing.datePosted}}</br></a>
					<a class="btn btn-primary mt-3" href="{% url 'listing-detail' listing.listingID %}">View Listing</a>

					<!-- State buttons -->
					{% if tuitionSession.offer == 0 and listing.user != user%}
						<button type="button" class="btn btn-success mt-3" data-toggle="modal" data-target="#exampleModal">Request Session</button>
					{% elif tuitionSession.offer == 1 and listing.user == user%}
						<button type="button" class="btn btn-success mt-3" data-toggle="modal" data-target="#exampleModal">Accept Session</button>
					{% elif tuitionSession.offer == 2 and listing.user == user%}
						<button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal">Complete Session</button>
					{% elif tuitionSession.offer == 3 %}
						<a href="{% url 'review-create-id' receiverID tuitionSession %}" button type="button" class="btn btn-primary mt-3">Leave a Review</a>
					{% endif %}
					<hr>
					<!-- popup box-->
					{% block foo %}
						{% include "chat/chat_popup.html" %}
				 	{% endblock %}					
				</div>

				<!-- Card body (Chat history)-->
				<div class="card-body" style="height: 68vh; padding: 5px; overflow-y: scroll" id="board">	
					<div class="col" id="innerboard">	
					{% for message in messages %}
						<!-- Own message -->
						{% if message.sender == request.user %}
						<div class="row m-2">
							<div class="card p-2 ml-auto bg-success text-white">
								<!--<div style="position: absolute; top: 0; left:3px; font-weight: bolder" class="title">You</div>-->
								{{ message }}
								<div class="small text-right text-muted">{{ message.timestamp|localtime|date:'j M, g:i A'}}</div>
							</div>
						</div>
						<!-- Other person's message -->
						{% else %}
						<div class="row m-2">
							<div class="card p-2 mr-auto bg-info text-white">
								<!--<div style="position: absolute; top: 0; left:3px; font-weight: bolder" class="title">{{ message.sender }}</div>-->
								{{ message }} <div class="small text-left text-muted">{{ message.timestamp|localtime|date:'j M, g:i A'}}</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}
					</div>
				</div>

				<!-- Card footer (Chat text box )-->
				<div class="card-footer">
					<form id="chat-box" class="form-group {% block hide %}hide{% endblock %}" method="post">
						{% csrf_token %}
						<div class="row mt-4">
							<div class="input-field col-11">
								<input class="form-control form-control-alternative" placeholder="Type your message.." type="text" input id="id_message">
							</div>

							<div class="col-1">
								<button class="btn btn-floating blue waves-effect waves-light"><i class="material-icons">send</i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
		

	{% include "includes/footer.html" %}
</div>

{% endblock content %}

{% block javascripts %}
<script>

	// For receiving, set global variables to be used by the 'receive' function
	sender_id = "{{ receiver.id }}"; //Context variable for receiver
	receiver_id = "{{ request.user.id }}"; //Context variable for current logged in user
	listing_id = "{{listing_id }}";

	//For sending
	$(function () {
		scrolltoend(); // Function to show the latest message, which is at the bottom of the message box, by scrolling to the end
		//Handling the submit event to send the message.
		$('#chat-box').on('submit', function (event) {
			event.preventDefault();
			var message = $('#id_message');
			send('{{ listing_id}}','{{ request.user.username }}', '{{ receiver.username }}', message.val()); //Send function will be defined within 'chat.js'
			message.val(''); //Clear content of the the input field after sending
		})
	})
	//For sending tuition messages
	function tuitionMsg(message) {
		scrolltoend();
		send('{{ listing_id}}','{{ request.user.username }}', '{{ receiver.username }}', message); //Send function will be defined within 'chat.js'
		message.val(''); //Clear content of the the input field after sending
		location.href="chat/chat.html";
	}
</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'assets/js/materialize.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/strftime.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/chat.js' %}"></script>

{% endblock javascripts %}