
{% block hide %}{% endblock %}
{% block popup %}
<!-- Button trigger modal -->
<!-- add if statement to show which text Make Offer, Accept Offer-->
{% if offer == 0 %}
<button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal">Make Offer</button>
{% elif offer == 1 %}
<button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal">Accept Offer</button>
{% elif offer == 2 %}
<button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal">Done Offer</button>
{% endif %}
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!--<h2 class="modal-title" id="exampleModalLabel">Confirm?</h2>-->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        
        </div>
        <!-- add if statement to show which button, send Offer, Accept Offer-->
        <div class="modal-body">
            <div class="py-3 text-center">
                <i class="ni ni-bell-55 ni-3x"></i>
                <h4 class="heading mt-4">
                {% if offer == 0 %}
                Send Your Offer? 
                {% elif offer == 1 %}    
                Accept Your Offer?
                {% endif %}
                </h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <form action="{% url 'chat' request.user.id receiver.id listing.listingID %}" method="post">
              {% csrf_token %}
              {% if offer == 0 %}
              <button class="btn btn-primary"type="submit" name="startSession" id="startSession" value="startSession">Confirm</button>
              {% elif offer == 1 %}
              <button class="btn btn-primary"type="submit" name="acceptSession" id="acceptSession" value="acceptSession">Confirm</button>	
              {% elif offer == 2 %}
              <button class="btn btn-primary"type="submit" name="completeSession" id="completeSession" value="completeSession">Confirm</button>
              <!-- Link to leave review -->
              {% endif %}

            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}