{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
         style="min-height: 400px; background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">@{{ profile_details.username }}</h1>

          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <!-- User Summary (Profile Picture, description, reviews) -->
        <div class="col-xl-4 order-xl-1 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                    <img src="{{ profile_details.image.url }}" class="rounded-circle">
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                
                <a href="#" class="btn btn-sm btn-info float-left">Reviews</a>
                {% if request.user.username == profile_details.username %}
                <a href="{% url 'edit-profile' %}" class="btn btn-sm btn-default float-right">Edit Profile</a>
                {% endif %}
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">{{ profile_details.num_listings }}</span>
                      <span class="description">Listings</span>
                    </div>
                    <div>
                      <span class="heading">{{ profile_details.avg_rating }}</span>
                      <span class="description">Avg Rating</span>
                    </div>

                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {% if not profile_details.name == None %}
                    {{ profile_details.name }}
                  {% else %}
                    @{{ profile_details.username }}
                  {% endif %}
                  
                  {% if profile_details.verified %}
                    <i class="fa fa-check-circle text-info" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Verified Tutor"></i>
                  {% endif %}
                </h3>
                <div class="h5 font-weight-300">
                  {{ profile_details.email }}
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Description
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>
                  {% if not profile_details.desc == None %}
                    {{ profile_details.desc }}
                  {% else %}
                    Nothing here...
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Listings -->
        <div class="col-xl-8 order-xl-2">

          <!-- Print django flash messages -->
          {% include "includes/messages.html" %}

          <!-- Request Listings -->
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Tuition Listings</h3>
                </div>
              </div>
            </div>

            <!-- Fill data here -->
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Module</th>
                      <th scope="col">Date Posted</th>
                    </tr>
                  </thead>
                 <tbody>
                    {% if tuitionListings|length == 0 %}
                    <tr><td colspan="3">There are no listings at this time.</td></tr>
                    {% else %}
                    {% for listing in tuitionListings%}
                    <tr>
                      <th scope="row"><a class="mb-0 text-sm" href="{% url 'listing-detail' listing.id %}">{{listing.title}}</a></th>
                      <td>{{listing.module}}</td>
                      <td>{{listing.datePosted}}</td>
                    </tr>
                  
                  {% endfor %}
                  {% endif %}
                </tbody>
                </table>
      
              </div>
          </div>

          <!-- Request Listings -->
          <div class="card bg-secondary shadow mt-4">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Request Listings</h3>
                </div>
              </div>
            </div>

            <!-- Fill data here -->
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Module</th>
                      <th scope="col">Date Posted</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if requestListings|length == 0 %}
                    <tr><td colspan="3">There are no listings at this time.</td></tr>
                    {% else %}
                    {% for listing in requestListings%}
                    <tr>
                      <th scope="row"><a class="mb-0 text-sm" href="{% url 'listing-detail' listing.id %}">{{listing.title}}</a></th>
                      <td>{{listing.module}}</td>
                      <td>{{listing.datePosted}}</td>
                    </tr>
                  
                  {% endfor %}
                  {% endif %}
                </tbody>
                </table>
      
              </div>
          </div>
          
        </div>

      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}
