{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-2">
                <h1 class="mb-3">Sign In</h1>
                  <!-- Print django flash messages -->
                  {% if messages %}
                  {% for message in messages%}
                  <div class="alert alert-{{ message.tags }} grid-margin">{{ message }}<button type="button" class="close"
                      data-dismiss="alert">&times;</button></div>
                  {% endfor %}
                  {% endif %}
                  
                  <!-- Display login errros -->
                  {% if form.errors %}
                  {% for field in form %}
                  {% for error in field.errors %}
                  <div class="alert alert-danger p-1">{{ error|escape }}</div>
                  {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                  <div class="alert alert-danger p-1">{{ error|escape }}</div>
                  {% endfor %}
                  {% endif %}
              </div>

              <form method="POST">

                {% csrf_token %}

                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>

                    {{ form.username }}

                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ form.password }}
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Sign in</button>
                </div>

                <p class="sign-up text-center">Don't have an Account?<a href="{% url 'register' %}"> Sign Up</a></p>
              </form>

            </div>
          </div>

      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
