{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Update Review {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
         style="min-height: 250px; background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
    </div>

    <!-- Form Container -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Update Review</h3>
                </div>
              </div>
            </div>

            <div class="card-body">
              <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Submit</button>
                  <button class="btn btn-outline-warning" onclick="goBack()">Back</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}
      
    </div>

{% endblock content %}



<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock javascripts %}
